/* Carousel */
#carousel {
  margin-top: 1rem;
}

.carousel_items {
  display: flex;
  overflow: hidden;
}

.carousel_item {
  position: relative;
  min-width: 100%;
  transition: all 0.5s linear;
  background-color: rgb(44, 44, 43);
}

.carousel_text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-shadow: 1px 1px black;
  font-size: calc(1.5rem + 0.3vw);
  font-weight: bolder;
}



.carousel__navigation, #js_nav {
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

#js_nav {
  display: none;
  text-align: center;
  cursor: pointer;
}




.record-image {
  width: 100%;
}
.record-table {
  text-align: center;
  color: white;
  table-layout: fixed;
  /*width: 75%;*/
  margin: 1em auto .5rem;
  font-family: "metropolis", sans-serif;
  font-weight: 100;
  width: 80%;
}

.record-table > tbody {
  width: 96%;
}

.record-name {
  position: absolute;
  top: .5rem;
  left: .5rem;
  color: white;
  font-family: "poppins-semi-bold", "poppins", sans-serif;
  text-orientation: upright;
  writing-mode: vertical-rl;
  font-size: 1rem;
  font-weight: 900;
}
.record-row {
  margin-bottom: 1rem;
  display: flex;
}
.record-row td {
  width: 100%;
}
.record-row:last-of-type {
  margin-bottom: 0;
}

.record-row p {
  display: inline;
}
.record-row p:first-child {
  margin-right: 1rem;
}

.record-table tr:nth-of-type(4), .record-table tr:nth-of-type(5) {
  display: none;
}

@media screen and (width > 30rem) {
  .record-name {
    font-size: 1.2rem;
  }
  .record-table {
    font-size: 1.2rem;
  }
}

@media screen and (width > 42rem) {
  #carousel {
    margin-top: 0;
  }
  .carousel_item {
    display: flex;
  }
  .record-image {
    width: 50%;
  }
  .record-table {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .record-name {
    bottom: .25rem;
    top: auto;
    writing-mode: lr;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    padding-top: .25rem;
    font-weight: 400;
    font-size: 1.4rem;
    font-family: "poppins-extra-light", "poppins", sans-serif;
  }
}

@media screen and (width > 56rem) {
  #carousel {
    max-width: 1200px;
    margin: auto;
  }
  .carousel__navigation-button {
    width: 1.25rem;
    height: 1.25rem;
  }
  .record-table tr:nth-of-type(4), .record-table tr:nth-of-type(5),
  .record-table tr:nth-of-type(4) td, .record-table tr:nth-of-type(5) td {  
    display: block;
    font-size: 1rem;
  }
  .record-table tr:nth-of-type(4) {
    margin-top: 3rem;
  }
  .record-table tr:nth-of-type(5) {
    margin-top: 1.5rem;
  }
  .record-table > tbody {
    margin-top: -1rem;
  }
}

@media screen and (width > 64rem) {
  #carousel {
    margin-top: 1rem;
  }
  .record-name {
    font-size: 1.6rem;
  }
}
