
.article-preview, .article-preview:first-of-type {
  margin-bottom: 3rem;
}

.article-previews-title {
  font-size: 2rem;
  text-align: left;
  margin: 2rem 0 0 1rem;
}


@media screen and (width > 48rem) {
  .article-previews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .article-preview {
    width: 100%;
  }

  .article-previews-title {
    align-self: start;
    margin: 1rem 0 1rem 1rem;
  }
}

@media screen and (width > 60rem) {
  main {
    max-width: 1000px;
    margin: 0 auto;
  }
  .article-previews {
    margin-bottom: 1rem;
  }
}